/* COLORS VARS */

:root {
    --color-white: #ffffff;
    --color-black: #101010;
    --color-black--alfa: #0000002f;
    --color-gray: #393939;
    --color-gray--dark: #252525;
    --color-gray--light: #D9D9D9;
    --color-yellow: #FFBB56;
    --color-green: #2DC066;
}


/* RESETS STYLES */

*, *::before, *::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    color: var(--color-gray);
    line-height: 1.5;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    background: var(--color-white);
}

html, body, figure, figcaption, p, fieldset, blockquote {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ojuju', sans-serif;
    color: var(--color-black);
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 10vw;
    color: var(--color-white);
    line-height: 170px;
    text-transform: capitalize;
}

h2 {
    font-size: 80px;
    color: var(--color-black);
    line-height: 88px;
    font-weight: 400;
}

h3 {
    font-size: 32px;
    color: var(--color-black);
    line-height: 32px;
    text-transform: capitalize;
}

div, p {
    font-size: 18px;
    color: var(--color-black);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

/* scrollbar styles */

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: var(--color-gray--dark);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-gray--light);
    border-radius: 10px;
}

/*  GLOBAL CLASSES */

.section-title {
    text-align: center;
}

.container {
    max-width: 1780px;
    margin: 0 auto;
    padding: 0 20px;
}

.primary-btn {
    width: auto;
    display: inline-block;
    color: var(--color-white);
    padding: 24px 40px;
    border: 1px solid var(--color-gray--light);
    border-radius: 300px;
    -webkit-box-shadow: 0px 10px 22px 0px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0px 10px 22px 0px rgba(255, 255, 255, 0.1);
    box-shadow: 0px 10px 22px 0px rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: all 300ms ease-in;
}

.primary-btn:hover {
    background-color: rgba(255, 255, 255, 0.25);

}

.no-scroll {
    overflow: hidden;
}

/* ------------- */

/* dima: PRELOADER */

.preloader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: var(--color-black);
    transition: all 500ms ease;
}

.preloader-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader svg {
  width: 320px;
  animation: float 2s ease-in-out infinite;
  transform-origin: center;
}

@keyframes float {
  0% { transform: translateY(0) rotate(0deg); }
  25% { transform: translateY(-4px) rotate(-2deg); }
  50% { transform: translateY(0) rotate(0deg); }
  75% { transform: translateY(4px) rotate(2deg); }
  100% { transform: translateY(0) rotate(0deg); }
}

.preloader.hide {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


/* danya: nav + header */

.hero {
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%), url("../../assets/img/hero-banner/hero.webp") center/cover no-repeat;
}

.hero-header {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.hero-header .logo-link {
    width: 180px;
    height: 40px;
    display: flex;
    flex: 0 1 auto;
    stroke: var(--color-white);
    fill: var(--color-white);
    stroke-width: 0.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-header .logo-link svg {
    width: 100%;
    height: 100%;
}

.hero-nav {
    width: 100%;
    padding: 26px 20px;
    top: 0;
    left: 0;
    position: fixed;
    box-sizing: border-box;
    z-index: 100;
    transition: all 350ms ease-in;
}

.burger-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-nav.--active {
    background: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    font-size: 20px;
    color: var(--color-white);
    text-decoration: none;
    transition: all 0.3s ease-in; 
    position: relative;
    padding: 6px;
}

.nav-links a::after {
    content: "";
    display: inline-block;
    width: 0%;
    height: 1px;
    background-color: var(--color-white);
    transition: all 0.3s ease-in; 
    position: absolute;
    left: 0;
    bottom: 0;
}

.nav-links a:hover::after {
    width: 100%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-bottom: 66px;
}

.hero-subtitle {
    width: 100%;
    max-width: 684px;
    color: var(--color-white);
    font-size: 28px;
    line-height: normal;
    flex-basis: 60%;
}

.hero-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.hero-btn {
  display: flex;
  column-gap: 62px;
  align-items: center;

}

.hero-btn svg {
    width: 12px;
    height: 12px;
}

.hero-btn svg path {
    stroke: var(--color-white);
}

/* h1 enter animation */
.hero-title {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 1s ease-out forwards;
    animation-delay: 2.2s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.burger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--color-white);
    border-radius: 1px;
    transition: all 0.3s ease;
}

.burger.open span:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
}
.burger.open span:nth-child(2) {
    opacity: 0;
}
.burger.open span:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px);
}

/* danya: about-us */

.aboutus-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.aboutus-container {
    display: flex;
    justify-content: space-between;
    gap: 45px;
}

.aboutus-text-grid-p {
  font-size: 22px;
  line-height: 1.6;
  max-width: 400px;
}

.aboutus-dot {
  font-size: 70px;
  line-height: 0.7;
}

.aboutus-right {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.aboutus-title {
    font-size: 56px;
    margin-bottom: 40px;
}

.aboutus-text-grid {
    display: flex;
    gap: 25px;
    margin-bottom: 40px;
    justify-content: space-between;
}

.aboutus-slider {
    width: 100%;
    position: relative;
    border-radius: 30px;
    aspect-ratio: 880/520;

}


.aboutus-slider img {
    width: 100%;
    aspect-ratio: 880/520;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .6s ease;   
    object-fit: cover;
}

.slide.active {
  opacity: 1;
}

.slider-arrows {
  display: flex;
  justify-content: left;
  gap: 20px;
}

.arrow {
    width: 44px;
    height: auto;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}

.arrow svg {
    width: 100%;
    height: 100%;
    transition: all 350ms ease-in;
}

.arrow path {
    transition: all 350ms ease-in;
}

.arrow:hover path{
  fill: var(--color-gray--dark);
}

.aboutus-counters {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 40px 60px 0px 60px;
}

.counter-item {
  text-align: center;
}

.counter-number {
  font-size: 46px;
  font-weight: 500;
  font-style: italic;
}

.counter-number::before{
    content: "+";
}

.counter-label {
  font-style: italic;
  opacity: 0.6;
  font-size: 22px;
}

.slider-pagination {
  width: 100%;
  margin-top: 18px;
  margin-bottom: 46px;
}

.slider-bar {
  width: 100%;
  height: 2px;
  background: var(--color-gray--light);
  position: relative;
  overflow: hidden;
}

.slider-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 33.33%;
  background: var(--color-gray);
  transition: width 0.4s ease;
}

/* dima: PORTFOLIO */

.portfolio-section {
    position: relative;
    height: 500vh;
}

.portfolio-section__wrapper {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.portfolio-section__item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s linear;
    opacity: 0;
}

.portfolio-section__item.active .portfolio-section__img-caption {
    opacity: 1;
}

.portfolio-section__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-section__img-caption {
    width: 100%;
    height: 100%;
    color: var(--color-white);
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-black--alfa);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 70px;
}

.portfolio-section__img-caption::after {
    content: "";
    width: 100%;
    height: 30%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(0deg,rgba(0, 0, 0, 0) 0%, var(--color-black--alfa) 60%);
}

.portfolio-section__img-caption::before {
    content: "";
    width: 100%;
    height: 30%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0) 0%, var(--color-black--alfa) 60%);
}

.portfolio-section__item-title {
    width: 100%;
    max-width: 600px;
    z-index: 2;
    color: var(--color-white);
}

.portfolio-section__item-text {
    z-index: 2;
    width: 100%;
    max-width: 450px;
    color: var(--color-white);
    align-self: flex-end;
}

/* danya: offer(products) section */

.products-section {
    padding: 140px 0px 0px 0px;
    overflow: hidden;
}

.products-header {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 64px;
}

.products-nav {
    display: flex;
    gap: 20px;
}

.products-arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    cursor: pointer;
    transition: all 300ms ease-in;
}

.products-arrow path {
    transition: all 300ms ease-in;
}

.products-arrow:hover {
    background-color: var(--color-black);
}

.products-arrow:hover path {
    stroke: var(--color-white);
}

.product-item {
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    transition: all 500ms ease-in;
    flex: 0 0 430px;
}

.product-item.--active {
    flex: 0 0 750px;
}

.product-item.--active .product-item-desc {
    opacity: 1;
    visibility: visible;
}

.product-item-image {
  width: 100%;
  height: auto;
  border-radius: 30px;
  aspect-ratio: 430 / 296 ;
  object-fit: cover;
}

.product-item-meta {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}

.product-item-index {
  font-size: 22px;
  font-weight: 500;
  font-family: 'Ojuju', sans-serif;
}

.product-item-text {
    flex-basis: 80%;
}

.product-item-desc {
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease-in;
}

.product-item-text h3 {
    font-weight: 500;
    margin-bottom: 12px;
}

/* dima: REVIEWS SECTION */

.reviews-section {
    padding: 150px 0px 0px 0px;
}

.reviews-section__title {
    width: 100%;
    margin-bottom: 60px;
}

.reviews-section__slider {
    width: 100%;
    padding: 100px 0px;
}

.reviews-section__slider-wrapper {
    height: 100%;
    min-height: 600px;
    align-items: center;
}

.reviews-slider-slide {
    width: 20%;
    box-sizing: border-box;
    transition: all 500ms ease;
    cursor: grab;
}

.reviews-slider-slide__img {
    width: 100%;
    aspect-ratio: 400 / 410;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}

.reviews-slider-slide__content-box {
    padding-top: 22px;
    margin-top: 20px;
    border-top: 1px solid var(--color-black);
    transform: translateY(-120%);
    opacity: 0;
    transition: all 500ms ease;
}

.reviews-slider-slide__racking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.reviews-slider-slide__title {
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
}

.reviews-slider-slide__descr {
    font-size: 12px;
}

.stars-box {
    display: flex;
    gap: 4px;
}

.stars-box svg {
    fill: var(--color-yellow);
    width: 14px;
    height: 14px;
}

.stars-box svg.not-fill {
    fill: transparent;
    stroke: var(--color-yellow);
}

.reviews-slider-slide.swiper-slide-active .reviews-slider-slide__content-box {
    opacity: 1;
    transform: translateY(0%);;
}

.reviews-slider-slide.swiper-slide-active {
    transform: rotate(0deg);
    transform: scale(1.4);
}

/* rotation */

.reviews-slider-slide.swiper-slide-prev {
    transform: rotate(-6deg);
    padding-right: 2%;
}
.reviews-slider-slide.swiper-slide-next {
    transform: rotate(6deg);
    padding-left: 2%;
}

.reviews-slider-slide.prev-2 {
    transform: rotate(-15deg);
    padding-top: 80px;
}
.reviews-slider-slide.next-2 {
    transform: rotate(15deg);
    padding-top: 80px;
}

.reviews-section__arrow {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 12%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 0px;
}

.reviews-section__arrow--prev {
    left: 26%;
}

.reviews-section__arrow--next {
    right: 26%;
}

/* light box

.image-popup {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0; left: 0;
    right: 0; bottom: 0;
    z-index: 9999;
}

.image-popup__overlay {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.image-popup__content {
    position: relative;
    z-index: 10;
    max-width: 90%;
    max-height: 90%;
}

.image-popup__content img {
    width: 600px;
    height: auto;
    border-radius: 10px;
    aspect-ratio: 400 / 410;
    display: block;
}

.image-popup__close {
    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    top: -22px;
    right: -22px;
    border-radius: 50%;
    border: none;
    background-color: var(--color-white);
    padding: 0;
    cursor: pointer;
} */


/* dima: CONTACT  */

.contact-section {
    padding: 100px 0px 50px 0px;
}

.contact-section__wrapper {
    border-radius: 50px;
}

.contact-section__container {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 84px 46px;
    border-radius: 30px;    
    background: linear-gradient(270deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.01) 100%);
    background-image: url(../../assets/img/contact-section/contact-bg.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-form__wrapper {
    display: flex;
    flex-direction: column;
    gap: 34px;
    position: relative;
    border: none;
    padding: 0;
}

.contact-section__form-box {
    width: 100%;
    max-width: 680px;
    padding: 46px 112px 46px 24px;
    border-radius: 30px;
    /* glass effect */
    background: linear-gradient( -45deg, rgba(243, 243, 243, 0.30), rgba(0, 0, 0, 0.10));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.contact-section__form-box-title {
    color: var(--color-white);
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 50px;
}

.contact-form__input-row {
    display: flex;
    gap: 20px;
}

.contact-form__input-wrapper {
    width: 100%;
}

.contact-form__input-wrapper input,
.contact-form__input-wrapper textarea {
    color: var(--color-white);
    width: 100%;
    min-height: 32px;
    padding: 0px 0px 10px 6px;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 0px;
    transition: all 500ms ease;
    border-bottom: 1px solid rgba(255, 255, 255, 0.432);
}

.contact-form__input-wrapper input:focus,
.contact-form__input-wrapper textarea:focus {
    border-bottom: 1px solid var(--color-white);
}

.contact-form__input-wrapper input::placeholder,
.contact-form__input-wrapper textarea::placeholder {
    font-size: 18px;
    color: var(--color-white);
}

.submit-btn {
    color: var(--color-black);
    display: inline-flex;
    align-items: center;
    width: fit-content;
    gap: 38px;
    padding: 22px 26px;
    background-color: var(--color-white);
    border: none;
    border-radius: 90px;
    cursor: pointer;
    transition: all 500ms ease;
    border: 1px solid transparent;
}

.submit-btn:hover .submit-btn__icon {
    transform: translate(6px, -6px);
}

.submit-btn__icon {
    width: 12px;
    height: 12px;
    transition: all 500ms ease;
}

.sr-only {
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0,0,0,0);
    white-space:nowrap;
    border:0;
}

/* custom drop down list */

.custom-select {
    width: 100%;
    position: relative;
}

.custom-select__trigger {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
    opacity: 0.8; 
    border-radius: 30px;
    padding: 18px 16px;
    cursor: pointer;
    transition: all 500ms ease;
    /* glass effect */
    background: linear-gradient( -45deg, rgba(243, 243, 243, 0.30), rgba(0, 0, 0, 0.10));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    z-index: 2;
    position: relative;
}

.custom-select__trigger svg {
    fill: transparent;
    stroke: var(--color-white);
    transition: all 500ms ease;
}

.custom-select__options {
    position: absolute;
    top: 0px;
    width: 100%;
    list-style: none;
    z-index: 1;
    margin: 0;
    opacity: 0;
    padding: 75px 0px 14px;
    max-height: 0px;
    overflow: hidden;
    border-radius: 30px;
    transform-origin: top;
    transition: max-height .25s ease, opacity .25s ease;
    background-color: var(--color-gray);
}

.custom-select.open .custom-select__options {
    opacity: 1;
    max-height: 350px;
}

.custom-select.open .custom-select__trigger svg {
    transform: rotate(-180deg);
}

.custom-select__options li {
    color: var(--color-white);
    font-size: 14px;
    padding: 8px 22px;
    cursor: pointer;
    transition: all 500ms ease;
} 

.custom-select__options li:hover {
    background-color: var(--color-gray--dark);
}

/* danya: faq */

.faq-section {
  padding: 120px 0px; 
}

.faq-container {
  display: flex; 
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px; 
}

.faq-header-column {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.faq-subtitle {
    color: var(--color-gray);
}

.faq-questions-column {
  display: flex;
  flex-direction: column;
  flex: 0 0 52%;
  gap: 26px;
}

.faq-item {
  margin: 0;
  border: 1px solid var(--color-gray--light);
  border-radius: 12px;
  padding: 32px;
  transition: border 350ms ease-in;
}

.faq-item summary {
  list-style-type: none;
}

.faq-item summary::-webkit-details-marker {
  display: none;
}

.faq-question {
    font-size: 24px;
    color: var(--color-gray);
    cursor: pointer;
    padding-right: 40px; 
    position: relative;
    font-family: 'Montserrat', sans-serif;
    line-height: 42px;
}

.faq-question::after {
    content: '+';
    font-size: 42px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    transition: transform 250ms ease;
}

.faq-answer {
    padding-top: 32px;
    color: var(--color-gray);
    opacity: 0;
    transform: translateY(-6px);
    transition:
    opacity 500ms ease,
    transform 500ms ease;
}

.faq-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms ease-in-out;
}

.faq-wrapper > * {
    overflow: hidden; 
}

.faq-item[open] {
    background-color: rgba(0,0,0,0.02);
    border-color: var(--color-yellow);
}

.faq-item[open] .faq-question::after {
    content: '+';
    transform: translateY(-50%) rotate(45deg);
}

.faq-item[open] .faq-wrapper {
    grid-template-rows: 1fr;
}

.faq-item[open] .faq-answer {
    opacity: 1;
    transform: translateY(0);
}

/* dima: FOOTER */

.footer {
    background-image: url(../../assets/img/footer-section/footer-bg.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: opacity(0.1);
    padding: 100px 0px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 22px;
}

.footer-logo {
    width: 536px;
    height: auto;
    fill: var(--color-black);
    stroke: var(--color-black);
}

.footer-item {
    display: flex;
    flex-direction: column;
}

.footer-item__contact {
    margin-top: 44px;
}

.footer-contact__link {
    display: flex;
    gap: 12px;
}

.footer-btns__btn,
.address-box__link a {
    text-decoration: underline;
    text-decoration-color: var(--color-black);
    transition: all 500ms ease;
}

.footer-btns__btn:not(:last-child),
.footer-contact__link:not(:last-child) {
    margin-bottom: 20px;
}

.footer-btns__btn:hover,
.address-box__link a:hover {
    text-decoration-color: transparent;
}

.footer-contact__link svg {
    fill: none;
    stroke: var(--color-black);
    width: 24px;
    height: 24px;
} 

.footer-contact__link--email svg {
    stroke: none;
    fill: var(--color-black);
}

.footer-item--pages {
    display: flex;
    flex-direction: row;
    column-gap: 120px;
}

.footer-item__btns {
    display: flex;
    flex-direction: column;
}

.footer-item__links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: flex-end;
    margin-bottom: 88px;
}

.footer-item__links a {
    width: fit-content;
    display: inline-block;
    position: relative;
    transition: all 500ms ease;
}

.footer-item__links a:hover::after{
    transform: scale(1.1);
    top: -6px;
    right: -20px;
}

.footer-item__links a::after {
    content: "";
    width: 14px;
    height: auto;
    aspect-ratio: 1/1;
    background-image: url(../../assets/svg/form-btn-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: inherit;
    transform: scale(0.7);
    position: absolute;
    top: -10px;
    right: -2px;
    transition: all 500ms ease;
}

.footer-item__address-box {
    width: 100%;
    max-width: 240px;
}

.footer-wrapper__btn {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    padding: 24px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    transition: all 500ms ease;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.footer-wrapper__btn svg {
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
    transition: margin 500ms ease;
}

.footer-wrapper__btn:hover svg{
    margin-top: -6px;
}


/* MEDIA QUERIES */


/* 15 inch */

@media (max-width: 1361px) {

    h1 {
        font-size: 140px;
        line-height: normal;
    }

    h2 {
        font-size: 64px;
        line-height: normal;
    }

    h3 {
        font-size: 28px;
        line-height: normal;
    }

    div, p {
        font-size: 16px;
    }

    .reviews-section {
        padding-top: 100px;
    }

    .reviews-section__slider {
        padding: 30px 0px;
    }

    .reviews-section__arrow {
        bottom: 30%;
    }

    .image-popup__content img { 
        width: 400px;
    }

    .contact-section__container {
        padding: 60px 46px;
    }

    .submit-btn {
        padding: 16px 20px;
    }

    .footer {
        padding: 75px 0px;
    }

    .footer-logo {
        width: 400px;
    }

    .footer-item__links {
        margin-bottom: 60px;
    }

    .footer-item__links a::after {
        right: -10px;
    }

    .hero-content {
        gap: 40px;
    }

    .hero-subtitle {
        font-size: 20px;
    }

    .primary-btn {
        padding: 14px 28px;
    }

    .aboutus-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .aboutus-title {
        font-size: 32px;
    }

    .aboutus-text-grid-p {
        font-size: 16px;
    }

    .counter-number {
        font-size: 32px;
    }

    .counter-label {
        font-size: 16px;
    }

    .products-section {
        padding: 100px 0px 0px 0px;
    }

    .faq-section {
        padding: 50px 0px;
    }

    .faq-questions-column {
        flex: 0 0 60%;
    }

    .faq-item {
        padding: 20px;
    }

    .faq-question {
        font-size: 20px;
    }

    .faq-questions-column {
        gap: 18px;
    }
}

/* tablet horizontal */

@media (max-width: 1200px) {

    h1 {
        font-size: 100px;
    }

    h2 {
        font-size: 54px;
    }

    h3 {
        font-size: 26px;
    }

    .reviews-slider-slide.prev-2, .reviews-slider-slide.next-2 {
        padding-top: 40px;
    }

    .reviews-section__slider {
        padding: 60px 0px;
    }

    .reviews-slider-slide.swiper-slide-active {
        transform: scale(1.2);
    }

    .reviews-section__arrow {
        bottom: 15%;
        padding: 8px;
    }

    .reviews-section__arrow--prev {
        left: 22%;
    }

    .reviews-section__arrow--next {
        right: 22%;
    }

    .submit-btn {
        padding: 16px 20px;
    }

    .contact-form__input-wrapper input::placeholder,
    .contact-form__input-wrapper textarea::placeholder {
        font-size: 16px;
    }

    .contact-section__container {
        padding: 46px 24px;
    }

    .contact-section__form-box {
        padding: 46px 60px 46px 24px;
        max-width: 500px;
    }

    .footer-logo {
        width: 280px;
    }

    .footer-item--pages {
        column-gap: 60px;
    } 

    .footer-item__links {
        margin-bottom: 40px;
    }

    .footer-contact__link svg {
        width: 18px;
        height: 18px;
    }

    .footer-wrapper__btn {
        width: 46px;
        height: 46px;
        padding: 16px;
    }

    .nav-links {
        gap: 18px;
    }

    .nav-links a {
        font-size: 16px;
    }

    .aboutus-counters {
        padding: 0px;
        padding-top: 20px;
    }

    .counter-number {
        font-size: 20px;
    }

    .aboutus-title {
        font-size: 26px;
    }

    .aboutus-right {
        flex-basis: 65%;
    }
    
    .product-item.--active {
        flex: 0 0 60%;
    }

    .product-item {
        flex: 0 0 49%;
    }

    .faq-answer {
        padding-top: 20px;
    }

    .faq-question {
        font-size: 18px;
    }
}

/* tablet vertical */

@media (max-width: 992px) {

    h1 {
        font-size: 100px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 22px;
    }

    .portfolio-section__img-caption {
        padding: 80px 30px;
    }

    .reviews-section__arrow--prev {
        left: 12%;
    }

    .reviews-section__arrow--next {
        right: 12%;
    }

    .reviews-section__arrow {
        bottom: 10%;
    }

    .footer-logo {
        width: 180px;
    }

    .footer-item--pages {
        gap: 16px;
    } 

    .footer-item__links {
        margin-bottom: 40px;
    }

    .footer-contact__link svg {
        width: 18px;
        height: 18px;
    }
    .footer-btns__btn:not(:last-child),
    .footer-contact__link:not(:last-child){
        margin-bottom: 16px;
    }
    .preloader svg {
        width: 260px;
    }

}

/* mobile */

@media (max-width: 767px) {

    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 20px;
    }

    .preloader svg {
        width: 180px;
    }

    .reviews-section__title {
        margin-bottom: 40px;
    }

    .portfolio-section__img-caption {
        padding: 20px;
    }

    .portfolio-section__item-title {
        max-width: none;
    }

    .portfolio-section__item-text {
        max-width: none;
    }

    .portfolio-section__img-caption::after {
        height: 20%;
    }

    .portfolio-section__img-caption::before {
        height: 20%;
    }

    .container {
        padding: 0px 4%;
    }
    
    .portfolio-section__img-caption {
        padding: 4%;
    }
    
    .reviews-slider-slide.swiper-slide-active {
        transform: scale(1);
    }

    .reviews-section__slider {
        padding: 0px;
    }

    .reviews-section__slider-wrapper  {
        min-height: 530px;
    }

    .reviews-slider-slide.swiper-slide-prev {
        padding-right: 0;
    }

    .reviews-slider-slide.swiper-slide-next {
        padding-left: 0; 
    }
    
    .reviews-section__arrow {
        display: none;
    }

    .reviews-section__arrow--prev {
        left: 20%;
    }

    .reviews-section__arrow--next {
        right: 20%;
    }

    .reviews-section {
        padding-top: 60px;
    }

    .image-popup__close {
        width: 40px;
        height: 40px;
        font-size: 26px;
        right: -14px;
        top: -24px;
    }

    .contact-section {
        padding: 30px 0px;
    }

    .contact-section__container {
        padding: 16px;
        min-height: 90vh;
        align-items: end;
    }

    .contact-form {
        gap: 12px;
    }

    .contact-section__form-box-title {
        margin-bottom: 16px;
        font-size: 22px;
    }

    .contact-section__form-box {
        padding: 16px 32px 16px 20px;
        height: fit-content;
    }

    .custom-select__trigger {
        padding: 8px;
        font-size: 12px;
    }

    .custom-select__trigger svg {
        width: 12px;
    }

    .contact-form__input-wrapper input,
    .contact-form__input-wrapper textarea {
        min-height: auto;
        padding: 0px 0px 2px 2px;
    }

    .contact-form__input-wrapper input::placeholder,
    .contact-form__input-wrapper textarea::placeholder {
        font-size: 12px;
    }

    .custom-select__options li {
        font-size: 12px;
    }

    .custom-select__options {
        padding: 44px 0px 6px 0px;
        border-radius: 18px;
    }

    .submit-btn {
        font-size: 12px;
        padding: 8px 12px;
    }

    .submit-btn__icon {
        width: 8px;
        height: 8px;
    }

    .footer {
        padding: 60px 0px;
    }

    .footer-wrapper {
        flex-direction: column;
        align-items: start;
    }

    .footer-item {
        width: 100%;
    }

    .footer-item--pages {
        flex-direction: column;
    }

    .footer-item__links {
        align-self: flex-start;
    }

    .aboutus-container {
        flex-direction: column;
    }

    .aboutus-section {
        padding: 60px 4%;
    }

    .aboutus-title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .aboutus-text-grid-p {
        font-size: 10px;
    }

    .hero-row {
        flex-direction: column;
        align-items: end;
    }

    .hero-btn {
        gap: 24px;
    }

    .hero-title {
        max-width: 250px;
    }

    .hero-nav {
        padding: 16px 4%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .burger {
        display: flex;
    }

    .burger-wrapper {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
        gap: 18px;
        margin-left: 100%;
        opacity: 0;
        padding: 40px 4%;
        transition: all 400ms ease-in;
        background: rgba(0, 0, 0, 0.616);
        -webkit-box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
    }

    .burger-wrapper.open {
        opacity: 1;
        margin-left: 0;
        flex-direction: column;

    }

    .nav-links {
        flex-direction: column;
    }

    .nav-links li {
        text-align: center;
    }

    .nav-links a {
        font-size: 18px;
    }

    .nav-links.right {
        top: 220px;
    }

    .nav-links.open {
        max-height: 500px; /* lub dynamiczny height w JS */
        opacity: 1;
    }

    .nav-links.left, .nav-links.right {
        width: 100%;
    }

    .hero-header .logo-link {
        position: static;
        width: 90px;
        transform: translate(0px, 0px);
    }

    .products-arrow {
        width: 24px;
        height: 24px;
        padding: 8px;
    }

    .products-nav {
        gap: 8px;
    }

    .product-item {
        flex: 0 0 100%;
    }

    .product-item.--active {
        flex: 0 0 100%;
    }

    .product-item-index {
        font-size: 16px;
    }

    .product-item-desc {
        font-size: 12px;
    }

    .product-item-meta {
        margin-top: 18px;
    }

    .products-section {
        padding: 60px 0px 0px 0px;
    }

    .faq-section {
        padding: 30px 0px;
    }

    .faq-header-column {
        gap: 20px;
    }

    .faq-container {
        flex-direction: column;
    }

    .faq-item summary {
        line-height: normal;
    }

    .faq-answer {
        font-size: 14px;
    }

    .faq-question::after {
        font-size: 32px;
    }
}

/* small mobile  */

@media (max-width: 350px) {

    h1 {
        font-size: 50px;
    }


    h2 {
        font-size: 30px;
    }

}
